$bg-color-0:#9AD0EC;
$bg-color-1:#f0e7e7;
$bg-color-2:#109b1c;
$bg-color-3:#98B4AA;
$bg-color-4: white ;
$bg-color-5: #FC997C;
$bg-color-6: #F3C892;
$text-color-1:white;
$text-color-2: rgb(114, 31, 31);
$text-color-3: rgb(0, 0, 0);f

body{
    background-color: $bg-color-0;  
}